table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 5px solid black;
}

td,th {
    padding: 16px;
    height: 20px;
    width: 200px;
    background-color: aquamarine;
}

#tdcentrado{
    text-align: center;
    font-weight: bolder;
}